<p>home works!</p>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-4">
      <div class="card-shadow">
        <div class="card-body">
          <form>
            <div class="nb-3">
              <h4 class="text-primary">Welcome user</h4>
            </div>
           
            <button type="button"(click)="logout()" class="btn btn-warning">Logout</button>
           
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
