<p>varify-email works!</p>
<div class="container-fluid">
    <div class="row mt-5">
      <div class="col-4">
        <div class="card-shadow">
          <div class="card-body">
            <form>
              <div class="nb-3">
                <h4>Welcome</h4>
              </div>
             <div class="mb-3">
                <p class="text-muted">Link has sent on your registered email.please verify it</p>
             </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
